.games.available
  .section
    %h3 Available games
    %hr.section_caption
  - @quizzes.each do |quizz|
    .details
      .item
        .quizz
          Quizz
          %strong= "#{quizz.try(:description)}"
        .actions
          = link_to 'Start', {:controller => "games", :action => "new", :quizz_id => quizz.id }

  .section
    %hr