:javascript
  $(function() {
    $(document).ajaxSuccess(function(settings) {
      settings.responseText;
    });
  });

.games.available
  .section
    %h3 Available games
    %hr.section_caption
    #available_games
      = render @quizzes
  .footer{:style=>"margin-left: 40%; margin-right: 30%;"}
    #paginator_available
      = paginate @quizzes, :params => {:controller => 'games', :action => 'paginate_available'}, :remote => true

  .section
    %hr