:javascript
  $(function() {
    $(document).ajaxSuccess(function(settings) {
      settings.responseText;
    });
  });

.games.not_finished
  .section
    %h3= "Not finished games for #{current_user.try(:name)}"
    %hr.section_caption
    #created_games
      = render @new_games

  .footer{:style=>"margin-left: 40%; margin-right: 30%;"}
    #paginator_created
      = paginate @new_games, :params => {:controller => 'games', :action => 'paginate_created'}, :remote => true

  .section
    %hr