-game.quizz.questions.each do |q|
  %ul
    %h5= q.title
    -q.answers.each do |a|
      =a.id
      =answers
      %li
        / -game.game_details.each do |det|
        -if a.is_correct?
          -if answers.include?(a.id)
            %strong= a.content
          -else
            %p.temp= a.content
        - else
          %p= a.content