= form_for @game do |f|
  - if @game.errors.any?
    #error_explanation
      %div{:class=> "alert alert-error"}
        - @game.errors.full_messages.each do |msg|
          = msg

  .actions
    = form_for(@game) do |f|
      =f.label "Choose a quizz"
      =f.select :quizz_id, Quizz.all.map{ |q| [q.description, q.id] }
      =f.label "Assign player"
      =f.select :user_id, User.all.map{ |u| [u.name, u.id] }
    %br
      = f.submit 'Save'
