:javascript
  $(function() {
    $(document).ajaxSuccess(function(settings) {
      settings.responseText;
    });
  });

.games.passed
  .section
    %h3 Passed games
    %hr.section_caption
    #passed_games
      = render @games_passed
  .footer{:style=>"margin-left: 40%; margin-right: 30%;"}
    #paginator_passed
      = paginate @games_passed, :params => {:controller => 'games', :action => 'paginate_passed'}, :remote => true

  .section
    %hr