-content_for :page_styles do
  = stylesheet_link_tag "games"

:javascript
  var action = "#{params[:action]}";
#home_section
  #flip_effect_section{:style => "float: right; width: 30%; margin-right: 15px; margin-top: 35px;"}
    = render :partial => "smart_flip_box", :locals => {:caption => "Updates", :label => "(hover to view)"}
          
  .puzzle_logo
    = image_tag "cute_puzzled.png", :alt=> "Logo"