-content_for :page_styles do
  = stylesheet_link_tag 'games', 'timeline', 'flip_effect'

:javascript
  var action = "#{params[:action]}";

#home_section
  #flip_effect_section
    = render 'smart_flip_box'

  .puzzle_logo
    = image_tag "cute_puzzled.png", :alt=> "Logo"
