-content_for :page_styles do
  -stylesheet_link_tag "games"

- if @quizzes 
  = render :partial =>"available_games", :locals => { :quizzes => @quizzes }
- if @games_new
  = render :partial =>"created_games_show", :locals => { :games_new => @games_new }
- if @games_passed
  = render :partial =>"passed_games_show", :locals => { :games_passed => @games_passed }
/TODO:delete this
= link_to 'New', new_game_path