- if @game.errors.any?
  #error_explanation
    %div{:class=> "alert alert-error"}
      - @game.errors.full_messages.each do |msg|
        = msg
-if @answers
  %h4 Reviewing game
-else
  %h4 Showing game

%p
  Player
  %strong=@game.user.name
  wants to play game:
  %strong=@game.quizz.description
%p
  Points:
  -if @game.points.nil?
    %strong 0
  -else
    %strong=@game.points
    (of
    =@game.quizz.questions.count*10
    )
%br
-if @game.points.nil?
  = link_to 'Start', start_game_path(@game)
  \|
-else
  -if @answers
    = render :partial =>"games/details", :locals => {:game => @game, :answers => @answers}
= link_to 'Back', games_path

