<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>arbor.js project template</title>
<link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
  <canvas id="viewport" width="800" height="600"></canvas>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>

  <!-- run from the original source files: -->
  <!-- <script src="/assets/etc.js"></script>
<script src="/assets/kernel.js"></script>
<script src="../../src/graphics/colors.js"></script>
<script src="../../src/graphics/primitives.js"></script>
<script src="../../src/graphics/graphics.js"></script>
<script src="/assets/easing.js"></script>
<script src="/assets/tweens.js"></script>
<script src="/assets/atoms.js"></script>
<script src="/assets/physics.js"></script>
<script src="/assets/system.js"></script>
<script src="/assets/dev.js"></script> -->

  <!-- run from the minified library file: -->
  <script src="/assets/arbor.js"></script>

  <script src="/assets/main.js"></script>

</body>
</html>