%p
  -#=@quizz.questions.id
  = a.label "Answer:"
  -#= a.radio_button :content, 0
  -#= check_box_tag "correct["+ a.id+ "]", a.id, false,{:id=>"correct_" + a.id.to_s}
  = check_box_tag "correct_id[]"
  = a.text_field :content
  = a.link_to_remove "Remove Answer"
