.details
  .item
    .quizz
      Quizz
      %strong
        = quizz.try(:description)
    .actions
      = link_to(I18n.t('general.actions.start'), games_path(:quizz_id => quizz.id), :method => :post)
