-content_for :page_styles do
  -stylesheet_link_tag "quizzs"
%hr

.index-section
  = render :partial => "table", :local => {:quizzes => @quizzes}
%hr

-if can? :create, Quizz.new
  = link_to I18n.translate('quizzs.index.new'), new_quizz_path
