body{
  padding-top: 60px;
  padding-bottom: 40px;
}
.sidebar-nav {
padding: 9px 0;
}
.navbar .brand {
  padding: 5px 10px 5px;
  margin-left: -20px;
  width: 90px;
  height: 50px;
}
.nav li {
  line-height: 25px;
}
div.hamster {
  background-image: url(/assets/cute.jpg);
  background-size: 350px 270px;
  background-repeat: no-repeat;
  background-position: center;
  height: 270px;
  border-bottom: 2px solid saddlebrown;
}
/* --- User Account -- */
.account {
  display: block;
}
.account label {
  display: inline-block !important;
}
.account input {
  display: inline-block !important;
  vertical-align: baseline;
  margin-left: 1%;
}
.account.pass input {
  width: 250px !important;
  font-size: 11px;
}
.account_cancel {
  float: right;
  margin-right: 30%;
}
