html {
  height: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  height: 100%;
}

section {
  height: auto;
  min-height: 100%;
}

.clear {
  clear: both;
  height: 50px;
}

footer {
  height: 50px;
  margin-top: -52px;
}

.foot{
  background-color: rgb(83, 83, 83);
  background-image: linear-gradient(to bottom, rgb(83, 83, 83), rgb(83, 83, 83));
  background-repeat: repeat-x;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
  min-height: 50px;
}

.sidebar-nav {
padding: 9px 0;
}

.navbar .brand {
  padding: 5px 10px 5px;
  margin-left: -20px;
  width: 60px;
  height: 50px;
}

.nav li {
  line-height: 25px;
}

#main {
  padding-top: 50px;
  height: 100%;
}

div.hamster {
  background-image: url(/assets/cute.jpg);
  background-size: 350px 270px;
  background-repeat: no-repeat;
  background-position: center;
  height: 270px;
  /*border-bottom: 2px solid saddlebrown;*/
  clear: both;
}


/* --- User Account -- */
.account {
  display: block;
}
.account label {
  display: inline-block !important;
}
.account input {
  display: inline-block !important;
  vertical-align: baseline;
  margin-left: 1%;
}
.account.pass input {
  width: 250px !important;
  font-size: 11px;
}
.account_cancel {
  float: right;
  margin-right: 30%;
}

.mail_notifications, .mail_notifications span {
  margin-left: 30px;
}

h1.timeline {
 font-family: 'Shadows Into Light',cursive;
  font-size: 55px;
  line-height: 100%;
  text-align: center;
  text-shadow: 1px 1px #FFFFFF;
  padding-top: 30px;
}

/* -------------------- */
h1.gorgeous {
  font-family: 'Shadows Into Light',cursive;
  font-size: 55px;
  line-height: 100%;
  text-align: left;
  text-shadow: 1px 1px #FFFFFF;
  padding-top: 30px;
}
.gorgeous {
  font-family: 'Shadows Into Light',cursive;
  font-size: 26px;
  line-height: 40%;
  text-align: left;
  text-shadow: 1px 1px #FFFFFF;
  padding-top: 30px;
}
