.add_el_icon{
	display: inline-block;
	width: 35px;
	height: 35px;
	/*background: url('/assets/add_icon.png');*/
	opacity: 0.5;
}
#add_answer{
	margin-left:  15px;
}

.add_el_icon:hover{
	width: 45px;
	height: 45px;
	opacity: 1;
}
.remove_el_icon{
	display: inline-block;
	width: 35px;
	height: 35px;
	/*background: url('/assets/add_icon.png');*/
	opacity: 0.5;
}
.remove_el_icon:hover{
	width: 45px;
	height: 45px;
	opacity: 1;
}
#rem_qstn{
	display: block;
}