li.user_email, li.user_a_role, li.user_g_role{
    float: none;
    padding: 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 #080808;
    dislay: block;
}
li.user_a_role {color: crimson;}
li.user_g_role {color: seagreen;}

li.user_email{ color: #A271BB;}