// Place all the styles related to the Quizzs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p.temp, *.temp {
  color: red;
  font-style:italic;
}
p.user_answer {
  color: mediumvioletred;
  font-style:italic;
}
p.correct_answer {
  color: green;
  font-style:italic;
}

h5, h6 {
  font-weight: 10;
}
td.col {
  text-align: center;
}
tr.bottom {
  border-bottom: 1px solid #007fff;
}
.navbar .brand {
  padding: 5px 10px 5px;
  margin-left: -20px;
  width: 90px;
  height: 50px;
}
.nav li {
  line-height: 25px;
}
div.hamster {
  background-image: url(/assets/cute.jpg);
  background-size: 350px 270px;
  background-repeat: no-repeat;
  background-position: center;
  height: 270px;
  border-bottom: 2px solid saddlebrown;
}
div.fields {
  margin-left: 15px;
}
.alert, .alert-success, .alert-error {
  opacity: 0.8;
}
#qns-list label {
  display: inline;
  margin-bottom: 5px
}
td.date {
  color: #ffa365;
  font-style:italic;
}
.fields label {
  margin: 0;
  font-size: 13px;
  line-height: 15px;
}
.fields input {
  margin-bottom: 8px;
}
label.add_qstn, label.add_answer, label.rem_answer {
  display: inline-block;
}

span.caption {
  font-weight: bold;
  margin-right: 10px;
}
.quizz input[type=button] {
  height: 25px;
  vertical-align: text-bottom;
}
.quizz img {
  height: 20px;
  width: 20px;
  vertical-align: baseline;
}

/* ---New Quizz--- */
.quizz {
  #quizz_description { width:350px; }
  .question-section {
    display: none;
    margin-left: 20px;
    .section { 
      img { position: inline-block; }
      .caption {
        vertical-align: top;
        margin-left: 20px;
      }
      hr {
        width: 450px;
        margin-bottom: 10px;
        margin-top: 0;
      }
    }
    .question {
        margin-left: 20px;
        #questions__title { width:300px; }
        .answers {
          margin-left: 44px;
          img.add_answer {
            position: relative;
            top: 5px;
            left: -95px;
          }
          .line.first {
            margin-left: 112px;
            input {
              margin-left: -39px;
            }
          }
          .line input {
            margin-left: 73px;
          }
        }
      }
  }
}

form #submit {
  margin-top: 30px;
}
/* ---END NEW QUIZZ--- */

/* ---Index--- */

.quizzes {
  line-height: 16px;
  .details {
    border-left: thin solid #333;
    border-right: thin solid #333;
    padding: 10px;
    margin-top: -10px;
  }
  .item {
    display: block; 
  }
  .quizz {
    display: inline-block;
    width: 60%;
    margin-left: 20px;
  }
  .actions {
    display: inline-block;
    margin-left: 30px;
    width: 30%;
  }
}



