// Place all the styles related to the Quizzs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p.temp, *.temp{
  color: red;
  font-style:italic;
}
h5, h6 {
  font-weight: 10;
}