%h1 Listing game_details

%table
  %tr
    %th
    %th
    %th

  - @game_details.each do |game_detail|
    %tr
      %td= link_to 'Show', game_detail
      %td= link_to 'Edit', edit_game_detail_path(game_detail)
      %td= link_to 'Destroy', game_detail, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Game detail', new_game_detail_path
