.appHeader
  %ul.menu_items
    - if user_signed_in?
      = render :partial => "layouts/nav_signed_user"
    - else
      .signup_section
        %li.item
          = link_to(I18n.translate('navigation.login'), new_user_session_path)
        %li.item
          = link_to(I18n.translate('navigation.sign_up'), new_user_registration_path)
        %li.item
          = link_to(I18n.translate('navigation.sign_up_fb'), user_omniauth_authorize_path(:facebook))
    .appContent
      #appHamster.gorgeous
        Hamster

/ = link_to image_tag("puzzle.png"), home_games_path , :class => 'brand'
