/ = javascript_include_tag "sigma.parseGexf", "http://sigmajs.org/js/sigma.min.js", "http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"

/ :javascript
/   $(document).ready(function() {
/     var sigInst = sigma.init(document.getElementById('sig')).drawingProperties({
/         defaultLabelColor: '#fff',
/         defaultLabelSize: 14,
/         defaultLabelBGColor: '#fff',
/         defaultLabelHoverColor: '#000',
/         labelThreshold: 6,
/         defaultEdgeType: 'curve'
/     }).graphProperties({
/         minNodeSize: 0.5,
/         maxNodeSize: 5,
/         minEdgeSize: 1,
/         maxEdgeSize: 1
/     }).mouseProperties({
/         maxRatio: 4
/     });

/     sigInst.addNode('hello',{
/       label: 'Point 1',
/       color: '#A271BB',
/       x: 1
/     }).addNode('world',{
/       label: 'Point 2',
/       color: '#00ff00',
/       x: 2
/     }).addEdge('hello_world','hello','world').draw();
/   });
%div.sigma#sig

/ var sigRoot = document.getElementById('sig');
/ var sigInst = sigma.init(sigRoot).drawingProperties({
/   defaultLabelColor: '#A271BB',
/   font: 'Arial',
/   edgeColor: 'source',
/   defaultEdgeType: 'curve'
/ }).graphProperties({
/   minNodeSize: 1,
/   maxNodeSize: 3
/ });